<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <%- include('nav.html')%>
  
  <!-- (여긴 다른 페이지에 있던 <nav></nav> 태그 전부) -->

  <h4 class="container mt-4"><strong>챠트 보기</strong></h4>

  <canvas id="myChart"></canvas>
  
  <% console.log(data); %>

  <% if (data === undefined) { %>
      <p>챠트 데이터를 가져오지 못했습니다.</p>
      <P>그래서 임의로 맘대로 그려보겠습니다.</P>
      <script>drawRadarChart(labels, datasets);</script>
  <%  } else { %>
    
    <%// var Arg_Labels = data.labels; %>
    <%// var Arg_Datasets = data.datasets; %>
    <%// var Arg_ChartValue = data.value; %>
    
  <script>
    function drawRadarChart(labels, datasets) {
      // alert(labels);
      // alert(datasets);

      
      //console.log(labels);
      //console.log(datasets);
      //console.log(chartvalue);
      

      var ctx = document.getElementById("myChart").getContext("2d");

      var data = {
          labels: labels,
          datasets: datasets,
      };


      var options = {
          // 추가적인 설정을 필요에 따라 지정할 수 있습니다.
        scales: {
          r: {
            min: 0,     // Set the minimum value for the data range
            max: 100     // Set the maximum value for the data range
          }
        }
      };

      console.log(data);

      var radarChart = new Chart(ctx, {
          type: "radar",
          data: data,
          options: options,
      });
    }

    // 함수를 호출하여 Radar 차트를 그립니다.
    var labels = ['영적생활', '자질', '규모', '사역수행능력', '사역관계'];           // 지금은 하드코딩으로 
    //var chartvalue = [<%= data.value%>];// = ;

    //console.log(chartvalue);

    var datasets = [
      {
          label: "<%= data.labelName%>",
          data: [<%= data.value%>],
          backgroundColor: "rgba(255, 99, 132, 0.2)",
          borderColor: "rgba(255, 99, 132, 1)",
          borderWidth: 1,
      },
      // 추가 데이터셋을 필요에 따라 설정할 수 있습니다.
    ];
    drawRadarChart(labels, datasets);
  </script>
  <%  } %>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>