<% let LogInOut = ""; %>
<% if (typeof loginUser !== "undefined") { %>
  <% LogInOut = "Logout"; %>
<% } else { %>
  <% LogInOut = "Login"; %>
<% } %>




<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <a class="nav-link" href="/">Administrator <span class="sr-only">(current)</span></a> -->
        <a class="nav-link active" href="/list">List</a>
        <% if (typeof loginUser !== "undefined" && loginUser.id === "admin") { %>
          <a class="nav-link" href="/write">Write</a>
        <% } %>        
        <a class="nav-link" href="/login">login</a>
        <!-- <a class="nav-link" href="/chart">chart</a> -->
      </div>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <% if (typeof loginUser !== "undefined") { %>
        <p class="text-center ml-2 my-3"> 사용자 : <%= loginUser.id %>  </p>
      <% } else { %>
        <p class="text-center ml-2 my-3"> 사용자 : 알수없음!  </p>
      <% } %>
      <a class="nav-link" href="/logout"><%= LogInOut %></a>
    </form>
  </nav>    <!-- Optional JavaScript; choose one of the two! -->

